.footer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10%;
	border-left: dashed 1px var(--color4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5% 0;
	animation: slide-down 1500ms cubic-bezier(0.7, 0, 0.3, 1);

	@media screen and (max-width: 991px) {
		position: absolute;
		border-left: unset;
		padding: unset;
		top: 5%;
		right: 5%;
		justify-content: flex-start;
		align-items: flex-end;
	}

	> * {
		animation: fade-in-pause 2000ms ease-in-out;

		@keyframes fade-in-pause {
			0% {
				opacity: 0;
			}
			70% {
				opacity: 0;
			}
			100% {
				opacity: 100%;
			}
		}
	}

	.nav {
		opacity: 0.6;
		color: white;
		transition: all 300ms ease-in-out;

		&:hover {
			opacity: 1;
		}

		@media screen and (max-width: 991px) {
			line-height: 28px;
			font-size: 19px;
		}

		&.selected {
			opacity: 1;
			color: var(--color4);
		}
	}

	@keyframes slide-down {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}
}